<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 1999-2011 Alibaba Group.
 -  
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -  
 -      http://www.apache.org/licenses/LICENSE-2.0
 -  
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%d{yyyy/MM/dd HH:mm:ss,SSS}] %t %c{1}.%M(line:%L): %m%n" />
		</layout>
	</appender>
	
	<appender name="root" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log4j.path}financemarket/root.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%d{yyyy/MM/dd HH:mm:ss,SSS}] %t %c{1}.%M(line:%L): %m%n" />
		</layout>
	</appender>
	
	
	<appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log4j.path}financemarket/error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<param name="Append" value="false" />
		<param name="Encoding" value="UTF-8" />
		<param name="threshold" value="error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%X{requestId}] %-5p %c{2} - %m%n" />
		</layout>
	</appender>
	
	<appender name="BIZ-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log4j.path}financemarket/biz.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<param name="Append" value="false" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%X{requestId}] %-5p %c{2} - %m%n" />
		</layout>
	</appender>


	<appender name="DAO-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log4j.path}financemarket/dao.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<param name="Append" value="false" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%X{requestId}] %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	
	<appender name="PROVIDER-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log4j.path}financemarket/provider.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<param name="Append" value="false" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%X{requestId}] %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<appender name="MONITOR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log4j.monitor.path}/monitor.log" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%X{requestId}] %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	
	<!-- biz日志 -->
	<!-- <logger name="com.jiedaibao.financemarket.biz" additivity="false">
		<level value="${log4j.level}" />
		<appender-ref ref="BIZ-APPENDER" />
	</logger> -->



	<!-- provider日志 -->
	<!-- <logger name="com.jiedaibao.financemarket.provider" additivity="false">
		<level value="${log4j.level}" />
		<appender-ref ref="PROVIDER-APPENDER" />
	</logger> -->

	<!-- provider埋点日志 -->
	<logger name="com.jiedaibao.financemarket.provider" additivity="false">
		<level value="${log4j.level}" />
		<appender-ref ref="MONITOR-APPENDER" />
	</logger>
	
	
	<!-- dao日志 -->
	<logger name="java.sql" additivity="false">
		<level value="${log4j.level}" />
		<appender-ref ref="DAO-APPENDER" />
	</logger>
	
	<!-- dao日志 -->
	<!-- <logger name="com.jiedaibao.financemarket.dao" additivity="false">
		<level value="${log4j.level}" />
		<appender-ref ref="DAO-APPENDER" />
	</logger> -->


	
	<root>
		<level value="${log4j.level}" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="root" />
		<appender-ref ref="ERROR-APPENDER" />
	</root>
</log4j:configuration>
